body {
  background-color: #4051B5;
  font-family: sans-serif;
  color: #8ED4E6;
  background-image: url("KakaoTalk_20191004_090449265.png");
  background-repeat: no-repeat;
  background-position: top right;
}

h1, h2 {
  color: #91D8C2;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 1.8em;
}

dl {
  font-size: 70%;
  color: #FDFD1B;
}

ol {
  list-style-type: lower-greek;
}

dt {
  font-weight: bold;
}

p::first-letter {
  font-weight: bold;
  font-size: 150%;
}

ins {
  color: #10FF10;
  text-decoration: none;
}

table, tr, td, th {
  border: 2px solid;
  border-collapse: collapse;
}

tr:last-child {
  background-color: white;
}

caption { text-align: right;}

strong {
  text-shadow: -2px 2px #ACACAC;
}

ins:hover {
  font-weight: bold;
}

del {
  color: #FF3636;
}

.img img {
  width: 300px;
  height: 300px;
}
