body {
  font-family: Verdana;
  background-color: #1D2475;
  color : #939396;
  background-image: url("https://selab.hanyang.ac.kr/courses/cse326/2019/labs/images/2/cse326bg.jpg");
  background-repeat: no-repeat;
  background-position: top right;
}

h1, h2 {color : #F7931E;}

h1 {
  font-size: 40px;
  text-shadow: 3px -3px green;
}

dt, dd{ font-size: 70%; }

strong { color : #FFF86B; }

dt{
  color : #FFF86B;
  font-weight: bold;
}

p:first-letter {
  font-weight: bold;
  font-size: 150%;
}

a {
  color : #FF4F4F;
  text-decoration: none;}
a:hover { text-decoration: underline; }

q{ color : #D1DFEB };

blockquote, ul, ol {text-align: left;}

table, td, th { border: dotted; }
table { border-collapse: collapse; }

ul { list-style-type: square; }

img {
  border-width : medium thick;
  border-color : #F7931E;
  border-style : ridge;
}
